.App{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(112,106,222);
  background: linear-gradient(90deg, rgba(112,106,222,1) 0%, rgba(102,102,241,1) 0%, rgba(10,186,231,1) 80%);
  
}
.cardParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:30px;
  

}
.btn{
  width:180px;
  height: 45px;
  border-radius: 28px;
  
}
.buTTon{
  display: flex;
  justify-content: center;
}

.cards{
  
  padding: 30px;
  border-radius: 10px;
  background-color:whitesmoke;

}
.title{
  color: gray;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
.title-num,.dolor{
  margin-bottom: 10px;
}
.dolor{
  font-size: 50px;
  
}
.title-num{
  text-align: center;
  font-weight: 100;
}
.underLine{
border: 0.7px solid gray;
background-color: gray;

}
ul,li {
  margin-bottom: 1rem;
  margin-top: 15px;
  list-style-type: none;
}
.cards{
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.cards:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}



